.control {
  height: 48px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  min-width: 100px;
  width: 256px;
  padding-right: 5px;


  &:hover {
    cursor: pointer;
    border-color: black;
  }

  &__input {
    border: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
    width: 100%;
    min-width: 0px;
  }

  &__icon {
    margin-left: 16px;
  }
}
