.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  &__text {
    color: #490001;
    font-size: 20px;
  }

  &__link {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 25px;
    color: #5fb709;
    border: 1px solid #5fb709;
    &:hover {
      background-color: #8bfb09;
    }
  }

}
