.header {
  padding: 0 34px;

  &-inner {
    display: flex;
    align-items: center;
    padding: 16px  0;
  }

  &__address {
    display: flex;
    margin-left: 12%;
  }

  &__time {
    flex-shrink: 0;
    height: 48px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
      border-color: black;
    }

    .rc-time-picker-input {
      color: #1D1D1D;
      font-family: Roboto;
      font-size: 16px;
      text-align: center;
      width: 100%;
      border: none;
    }
    .rc-time-picker-clear{
      top: -12px;
    }
  }

  &__search {
    display: flex;
    margin-left: 10%;
    margin-right: 30px;
  }

  &__sign-in {
    justify-self: flex-end;
    margin-left: auto;
    white-space: nowrap;
    color: #1F1F1F;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__mobile-controls {
    display: none;
  }

  &__mobile-location-toggler {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__mobile-search-toggler {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

}

.mobile-search-section {
  position: relative;
  height: 154px;
  display: flex;
  align-items: center;

  &__address--mobile {
    display: flex;
    position: relative;
    &:before {
      position: absolute;
      content: "To";
      display: block;
      top: -24px;
      left: 0px;
    }
  }

  &__time--mobile{
    position: relative;
    flex-shrink: 0;
    height: 48px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
      border-color: black;
    }

    .rc-time-picker-input {
      color: #1D1D1D;
      font-family: Roboto;
      font-size: 16px;
      text-align: center;
      width: 100%;
      border: none;
    }
    .rc-time-picker-clear{
      top: -12px;
    }

    &:before {
      position: absolute;
      content: "When";
      display: block;
      top: -24px;
      left: 0px;
    }
  }

  &__search--mobile {
    display: flex;
    position: relative;
    &:before {
      position: absolute;
      content: "Search";
      display: block;
      top: -24px;
      left: 0px;
    }
  }

  &__close-button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("/images/mobile-menu-close.png");
  }
}

.mobile-location-container {
  display: flex;
}

@media screen and (max-width: 1199px) {

  .header {

    &__address {
      margin-left: 6%;
    }

    &__search {
      margin-left: 5%;
      margin-right: 30px;
    }

  }
}

@media screen and (max-width: 768px) {
  .header {

    &__address,
    &__time,
    &__search {
      display: none;
    }

    &__sign-in {
      margin-left: 30px;

    }

    &__mobile-controls {
      display: flex;
      margin-left: auto;
    }
  }

}

@media screen and (max-width: 400px) {
  .header {
    padding: 0 20px;

    &__logo {
      width: 86px;
    }

    &__sign-in {
      font-size: 11px;
    }

    .content .mobile-search-section__address--mobile {
      width: 195px;
    }

    .content .mobile-search-section__time--mobile {
      width: 65px;
    }


    .content .mobile-search-section__search--mobile {
      width: 195px;
    }


  }

}
