.modal-container {
  padding-top: 80px;
  padding-bottom: 143px;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.71);
  left: 0;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @media (max-width: 768px) {
    padding: 0;
    width: 100%;
  }

  &_open {
    animation-name: modal-container-open;
  }

  @keyframes modal-container-open {
    100% {
      opacity: 1;
    }
  }

  &_close {
    animation-name: modal-container-close;
  }

  @keyframes modal-container-close {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
