@import './styles/main';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.content {
  margin:  auto;
  max-width: 1084px;
}


@media screen and (min-width: 1500px) {
  .content {
    margin:  auto;
    max-width: 1452px;
  }

}
